@model IEnumerable<EdGradAssist.Models.Entities.Gauser>

@{
	ViewData["Title"] = "Login";
}

<!-- Button to open the modal login form -->
<button position="center" onclick="document.getElementById('id01').style.display='block'">Login</button>

<!-- The Modal -->
<div id="id01" class="modal">
	<span onclick="document.getElementById('id01').style.display='none'"
		  class="close" title="Close Modal">&times;</span>

	<!-- Modal Content -->
	<form class="modal-content animate" action="/action_page.php">

		<div class="container">
			<label for="UserEmail"><b>Email</b></label>
			<input type="text" placeholder="Enter Email" name="UserEmail" id="UserEmail" required>

			<label for="UserPassword"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="UserPassword" id="UserPassword" required>
		</div>

		<div class="container" style="background-color:#f1f1f1">
			<input type="button" value="Login" onclick="Validate()" />
		</div>
	</form>
</div>



@*<form>
	<div class="row">
		<div class="column">
			<label for="UserEmail">Email</label>
		</div>
		<div class="column">
			<input type="text" id="userEmail" name="userEmail" placeholder="Enter email" required>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="column">
			<label for="UserPassword">Password</label>
		</div>
		<div class="column">
			<input type="password" id="userPassword" name="userPassword" placeholder="Enter password" required>
		</div>
	</div>
	<input type="button" value="Login" onclick="Validate()" />
</form>*@


<script>
  function Validate() {
    $.ajax(
    {
      type: "POST",
      url: '@Url.Action("Validate", "Account")',
      data: {
        userEmail: $('#userEmail').val(),
		  userPassword: $('#userPassword').val()
			},
      error: function (result) {
        alert("There is a Problem, Try Again!");
      },
      success: function (result) {
        console.log(result);
        if (result.status == true) {
          window.location.href = '@Url.Action("Index", "Students")';
        }
        else {
          alert(result.message);
        }
      }
    });
	}

	//Close Modal Anywhere
	//// Get the modal
	//var modal = document.getElementById('id01');

	//// When the user clicks anywhere outside of the modal, close it
	//window.onclick = function (event) {
	//	if (event.target == modal) {
	//		modal.style.display = "none";
	//	}
	//}
</script>