		ViewData["Title"] = "Application";
	}
	<h2>@ViewData["Title"]</h2>
	<h3>@ViewData["Message"]</h3>

	<div class="row">
		<div class="column left">


		</div>
		<div class="column right">
			<div class="table">
				<table>
					<tr>
						<th>Folder Number</th>
						<th>Application Date</th>
						<th>E-Number</th>
						<th>Concentration ID</th>
						<th>Job ID</th>
						<th>Concentration</th>
						<th>E-Number Navigation</th>
						<th>Job</th>
						<th>Review</th>
						<th>Score</th>
					</tr>
				</table>
			</div>
		</div>
	</div>