@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="column left">

					E-Number: @Html.TextBox("SearchEnum")<br /><br />
					<input type ="submit" value="Search" />

	</div>
	<div class="column right">
		<div class="table">
			<table>
				<tr>
					<th>E-Number</th>
					<th>First Name</th>
					<th>Middle Name</th>
					<th>Last Name</th>
					<th>Hours</th>
					<th>E-Mail</th>
					<th>Address</th>
					<th>Application</th>
					<th>Degree</th>
					<th>Student Course</th>
				</tr>
			</table>
		</div>
	</div>
</div>